{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title class="site-title">Planner week</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1 class="site-description">My notes</h1>
    <div class="notes-list">
        <ul class="note-ul">
            <li class="note-item">
                <div class="note-content">
                    <h2 class="note-title">Monday</h2>
                    <p class="note-text">Start your week with a healthy breakfast to stay energized.</p>
                    <p class="note-date">Date: 10-10-2023</p>
                </div>
            </li>
            <li class="note-item">
                <div class="note-content">
                    <h2 class="note-title">Tuesday</h2>
                    <p class="note-text">Don't forget to take out the trash to keep your space clean.</p>
                    <p class="note-date">Date: 11-10-2023</p>
                </div>
            </li>
            <li class="note-item">
                <div class="note-content">
                    <h2 class="note-title">Wednesday</2>
                        <p class="note-text">Hit the gym and stay active for a healthy lifestyle.</p>
                        <p class="note-date">Date: 12-10-2023</p>
                </div>
            </li>
            <li class="note-item">
                <div class="note-content">
                    <h2 class="note-title">Thursday</h2>
                    <p class="note-text">Make sure to refuel your car for your upcoming journeys.</p>
                    <p class="note-date">Date: 13-10-2023</p>
                </div>
            </li>
            <li class="note-item">
                <div class="note-content">
                    <h2 class="note-title">Friday</h2>
                    <p class="note-text">Plan a fun get-together with friends for a great start to the weekend.</p>
                    <p class="note-date">Date: 14-10-2023</p>
                </div>
            </li>
            <li class="note-item">
                <div class="note-content">
                    <h2 class="note-title">Saturday</h2>
                    <p class="note-text">Spend quality time with your family and go for a picnic in the park.</p>
                    <p class="note-date">Date: 15-10-2023</p>
                </div>
            </li>
            <li class="note-item">
                <div class="note-content">
                    <h2 class="note-title">Sunday</h2>
                    <p class="note-text">Enjoy a relaxing day at home with your loved ones, watching movies and playing
                        board games.</p>
                    <p class="note-date">Date: 16-10-2023</p>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>
