/* -----------------------PAGINATION BLOCK----------------- */
.pagination-container {
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
}

.pagination-button {
	display: inline-block;
	padding: 8px 16px;
	margin: 4px;
	background-color: #2090ff;
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #2090ff;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
	background-color: #0b71d6;
	border: 1px solid #0b71d6;
}

.pagination-current {
	display: inline-block;
	padding: 8px 16px;
	margin: 4px;
	background-color: #333;
	color: #888;
	text-decoration: none;
	border: 1px solid #333;
	border-radius: 5px;
}

.pagination-button-disabled {
	display: none;
}

.icon-create {
	height: 50px;
	width: 50px;
}
