{% extends 'base.html' %} {% load static %} {% load i18n %}
<!-- ------------------------------------------------------------------------------------- -->
{% block title %}{{ author_name }}: {{ article.title | safe }} {% endblock %}
<!-- ------------------------------------------------------------------------------------- -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gelasio&display=swap"
  rel="stylesheet"
/>
{% block content %}

<div
  class=""
  style="
    width: 65%;
    margin: -80px auto 100px auto;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 15px;
  "
>
  <h2
    class="form-title"
    style="
      padding-top: 15px;
      text-align: center;
      font-family: &quot;Gelasio&quot;, serif;
    "
  >
    REGISTRATION
  </h2>
  <form
    method="post"
    style="padding: 20px; background-color: #f1f1f1; border-radius: 10px"
  >
    {% csrf_token %} {{ form.as_p }}
    <button
      type="submit"
      style="
        background-color: #ff6600;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
      "
    >
      Register
    </button>
  </form>
</div>
{% endblock %}
