:root {
	--default-bg-color: #1a1a1a; /* Темний фон */
	--hover-bg-color: #876d01; /* Колір при наведенні */
	--text-color-dark: #ffffff;
	--text-color: #ffffff; /* Колір тексту */
	--shadow-color: #000000; /* Колір тіні */
}

* {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: var(--text-color); /* Змінюємо колір тексту на білий */
}

body {
	background-color: var(
		--default-bg-color
	); /* Змінюємо фоновий колір сторінки */
}

.site-description {
	text-align: center;
	font-size: 3.8vw;
	color: var(--text-color); /* Змінюємо колір тексту */
}

.note-ul {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

.note-item {
	width: calc(20%);
	height: 20vw;
	list-style: none;
	background-color: var(--default-bg-color);
	border-radius: 25px;
	padding: 15px 20px 20px;
	border: 1px solid var(--shadow-color); /* Змінюємо колір рамки */
	margin: 1vw;
	box-shadow: 5px 5px 10px var(--shadow-color); /* Змінюємо колір тіні */
	overflow: hidden;
	transition: background-color 2s;
}

.note-item:hover {
	background-color: var(--hover-bg-color);
}

.note-item:hover h2,
.note-item:hover p {
	color: var(--text-color-dark);
}
